<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52242290103-3bhl696rlnsje8r67p0gm6p7q9og7ni9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52242290103-3bhl696rlnsje8r67p0gm6p7q9og7ni9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWGu1wIzW645YjO2ZiFdKjUtiT9ig8u48</string>
	<key>GCM_SENDER_ID</key>
	<string>52242290103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosmxm.Chordz</string>
	<key>PROJECT_ID</key>
	<string>chordz-6cf99</string>
	<key>STORAGE_BUCKET</key>
	<string>chordz-6cf99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52242290103:ios:82677199b0c6756bea0432</string>
</dict>
</plist>